# dependencies
/node_modules

# build output
/dist
/out-tsc
/tmp

# caches
/.angular/cache
.eslintcache

# test / coverage
/coverage

# logs
*.log
npm-debug.log*

# editor / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
